.theme-editor-section{
  .dropdown {
    .btn{
      background-color: white;
      border-radius: 4px;
      border: 1px solid #dadada;
    }

    .dropdown-menu{
      font-size: 14px;
      min-width: 0;
      background-color: white;
      border: 1px solid #dadada;
      max-height: 240px;
      overflow: auto;
      left: 3px;

      .dropdown-item{
        &:hover{
          background-color: rgba(165, 207, 76, 0.3);
        }
      }
    }

    &.color-picker-dropdown{
      .btn{
        width: 100%;
        padding: 3px;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #dadada;

        &:disabled{
          cursor: not-allowed;
        }
      }

      .color-block{
        width: 100%;
        height: 24px;
        border:1px solid rgba(0,0,0,0.2);
        border-radius: 2px;
      }

      .dropdown-menu{
        padding: 0;
        top: calc(100% + 5px);
        border-radius: 6px;
        max-height: none;

        .block-picker {
          width: 100% !important;
        }
      }
    }
  }

  .text-color-picker{
    .color-picker-dropdown{
      .dropdown-menu{
        right: auto;
        top: auto;
        left: 0;
        bottom: calc(100% + 5px);

        .sketch-picker{
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 1px -3px 16px !important;
        }
      }
    }    
  }

  .font-size-selector,
  .theme-selector,
  .font-family-selector{
    width: 100%;

    .dropdown-menu,
    .dropdown{
      width: 100%;
    }

    .dropdown-toggle{
      width: 100%;
      text-align: left;
      position: relative;
      padding-right: 24px;

      &:after{
        display: block;
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }
  }

  .font-family-selector{
    .dropdown-menu{
    }
  }
}