@font-face {
  font-family: 'font-hdzb';
  src: url('../../font/zhuanti.woff?59488976') format('woff');
}

@font-face {
  font-family: 'font-kouzansousho';
  src: url('../../font/KouzanBrushFontSousyo.woff?59488976') format('woff');
}

@font-face {
  font-family: 'font-aoyagireisho';
  src: url('../../font/aoyagireisyosimo_ttf_2_01.woff?59488976') format('woff');
}
