@import "_custom.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "_variables.scss";
//@import "_mixins.scss";
@import "_icon_font.scss";

@import "components/_buttons.scss";
@import "components/_selectors.scss";
@import "components/_value_controler.scss";
@import "components/_modal.scss";
@import "components/_accordion.scss";

@import "sections/_header.scss";
@import "sections/_edit_panel.scss";
@import "sections/_main_content.scss";
@import "sections/_upload_panel.scss";