<div class="edit-panel control-panel">
  <div class="p-3">
    <div class="px-3 form-group">
      <textarea class="text-edit-area form-control my-3" rows="4"></textarea>
      <div class="p-3 row no-gutters align-items-center">
        <div class="pr-3">
          大小
          <i class="fa fa-expand mx-2" aria-hidden="true"></i>
        </div>
        <div class="col scale-controler value-controler"></div>
      </div>
      <div class="p-3 row no-gutters align-items-center">
        <div class="pr-3">
          角度
          <i class="fa fa-repeat mx-2" aria-hidden="true"></i>
        </div>
        <div class="col rotate-controler value-controler"></div>
      </div>
      <div class="p-3 row no-gutters align-items-center">
        <div class="pr-3">
          顏色
          <i class="fa fa-paint-brush mx-2" aria-hidden="true"></i>
        </div>
        <div class="col color-picker"></div>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="px-3 form-group">
      <button class="btn btn-light btn-send px-5 w-100">
        完成
      </button>
    </div>
  </div>
  <div class="p-3">
    <div class="px-3 form-group">
      <a href="https://github.com/Zack0711/nimapachi-rune-paper-editor" target="blank" class="btn btn-light">
        <i class="fa fa-github" aria-hidden="true"></i>
        Github.
      </a>
    </div>
  </div>
</div>
