<div class="main-content">
  <div class="content">
    <div class="svg-container">
      <svg class="svg-canvas show-boundary">
        <defs>
          <style type="text/css"></style>
          <g id="theme-bg-01" class="image-def">
            <image x="0" y="0" xlink:href="images/bg-01.png" width="320" height="480"></image>
          </g>
          <g id="theme-bg-02" class="image-def">
            <image x="0" y="0" xlink:href="images/bg-02.jpg" width="320" height="490"></image>
          </g>
          <mask id="mask-01">
            <image x="0" y="0" xlink:href="images/mask-01.png" width="320" height="480"></image>
          </mask>
          <mask id="mask-02">
            <image x="0" y="0" xlink:href="images/mask-02.png" width="320" height="490"></image>
          </mask>
        </defs>
      </svg>
    </div>
  </div>
</div>