<div class="main-content">
  <div class="content">
    <div class="svg-container">
      <svg class="svg-canvas show-boundary">
        <defs>
          <style type="text/css"></style>
          <g id="theme-bg" class="image-def">
            <image x="0" y="0" href="images/bg.png" width="320" height="473"></image>
          </g>
          <g id="theme-mask" class="image-def">
            <image x="0" y="0" href="images/mask.png" width="320" height="473"></image>
          </g>
          <mask id="mask">
            <image x="0" y="0" href="images/mask.png" width="320" height="473"></image>
          </mask>
        </defs>
      </svg>
    </div>
  </div>
</div>